.git/
.ipynb_checkpoints/

# Database
data/olist.sqlite
src/data/olist.sqlite

# Python caches
__pycache__/
*.pyc

# Virtual environments
.venv/
.env/
venv/
env/

# Temporary testing folder
test/
frontend-backup/
